html {
    font-family: sans-serif;
    background-image: url("/images/bats.gif"); 
    background-repeat: repeat;
    background-size: 400px 400px;
    
    
}

body {
    /* padding: 5px; */
    width: 800px;
    margin: 0 auto;
    background: white;
    box-shadow: 2px 2px  2px 5px black;
    background-size: 300px 300px;

}

main {

    padding: 7px;
}

main h3::first-letter {
    font-size: 40px;
}

header {
    background-image: linear-gradient(45deg, orange, black);
    padding: 20px;
    border-top: 10px solid black;
    border-bottom: 5px solid black;
}

header img {
    float: left;
    margin-right: 30px;
    width: 90px;
    height: 90px;
    
}

header h1 {
    color: black;
    font-style: italic;
    text-shadow: 2px 2px 2px black;
    /* padding: 5px; */
}

ul li {
    margin-bottom: 20px; 
}

ul li a {
    font-weight: bold;
    color: orange;
}

ul li a:visited {
    color: orange;
}

ul li a:hover {
    color: green;
}

footer {
    font-size: 12px;
    text-align: center;
    border-top: 4px solid black;
    /* border-bottom: 4px solid black; */
    background: linear-gradient(45deg,black, orange, white );
    padding: 20px 0; 
}
